<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>kemia.view.MoleculeRenderer</title>
<script src="../../third-party/closure/closure/goog/base.js"></script>
<script src="../deps.js"></script>
<script src="../io/smiles/smiles_parser.js"></script>

<link rel="stylesheet"
    href="../../third-party/closure/closure/goog/demos/css/demo.css">
    <link rel="stylesheet"
    href="../../third-party/closure/closure/goog/css/menus.css" />
<link rel="stylesheet"
    href="../../third-party/closure/closure/goog/css/menubutton.css">

<script>
    goog.require('kemia.controller.ReactionEditor');
    goog.require('goog.events.EventType');
    goog.require('goog.dom');
    goog.require('goog.debug.Console');
    goog.require('kemia.layout.CoordinateGenerator');
    goog.require('goog.ui.Select');
    goog.require('kemia.io.smiles');
</script>


<script>
function draw(){
    //uncomment next two lines to debug to console
    //var c = new goog.debug.Console(); 
    //c.setCapturing(true); 

    var mol_renderer = new kemia.controller.ReactionEditor(goog.dom.getElement('container'),{background : {color : 'white'}});
    var select1 = new goog.ui.Select();
    select1.addItem(new goog.ui.MenuItem('hexaethylene glycol monophosphate', 'OCCOCCOCCOCCOCCOCCOP(O)(O)=O'));
    select1.addItem(new goog.ui.MenuItem('Glutathione disulfide','N[C@@H](CCC(=O)N[C@@H](CSSC[C@H](NC(=O)CC[C@H](N)C(O)=O)C(=O)NCC(O)=O)C(=O)NCC(O)=O)C(O)=O'));     
    select1.addItem(new goog.ui.MenuItem('Coenzyme B','O=C(N[C@@H](C(=O)O)[C@H](OP(=O)(O)O)C)CCCCCCS'));
    select1.addItem(new goog.ui.MenuItem('Hexa-L-lysine monohydrobromide','[H+].[Br-].NCCCC[C@H](N)C(=O)N[C@@H](CCCCN)C(=O)N[C@@H](CCCCN)C(=O)N[C@@H](CCCCN)C(=O)N[C@@H](CCCCN)C(=O)N[C@@H](CCCCN)C(O)=O'));
    select1.addItem(new goog.ui.MenuItem('O-phospho-L-threonine','C[C@@H](OP(O)(O)=O)[C@H](N)C(O)=O'));
    select1.addItem(new goog.ui.MenuItem('Hexacos-2-enoic acid','[H]C(CCCCCCCCCCCCCCCCCCCCCCC)=C([H])C(O)=O'));
    select1.addItem(new goog.ui.MenuItem('Nitroglycerin','O=N(=O)OCC(CON(=O)=O)ON(=O)=O'));
    select1.addItem(new goog.ui.MenuItem('TetraAquaDiCyanoIron','[H][O]([H])[Fe](C#N)(C#N)([O]([H])[H])([O]([H])[H])[O]([H])[H]'));
    select1.addItem(new goog.ui.MenuItem('benzene', 'c1ccccc1'));
    select1.addItem(new goog.ui.MenuItem('Cerulenin','[H][C@]1(O[C@]1([H])C(=O)CC\C=C\C\C=C\C)C(N)=O'));
    select1.addItem(new goog.ui.MenuItem('Nitrososulfamethoxazole','Cc1cc(NS(=O)(=O)c2ccc(cc2)N=O)no1'));
	select1.addItem(new goog.ui.MenuItem('Chiral test A', 'N[C@](Br)(O)C')); //1D 3U 
	select1.addItem(new goog.ui.MenuItem('Chiral test B', 'N[C@@](Br)(C)O'));//1U 4D       
	select1.addItem(new goog.ui.MenuItem('Alpha-pinene','CC1=CC[C@H]2C[C@@H]1C2(C)C'));
    select1.addItem(new goog.ui.MenuItem('Sulfur hexafluoride', 'FS(F)(F)(F)(F)F'));
	select1.addItem(new goog.ui.MenuItem('Ergosteryl 3-β-D-glucoside','[H][C@@]1(CC[C@@]2([H])C3=CC=C4C[C@H](CC[C@]4(C)[C@@]3([H])CC[C@]12C)O[C@@H]1O[C@H](CO)[C@@H](O)[C@H](O)[C@H]1O)[C@H](C)\C=C\[C@H](C)C(C)C'));
    select1.addItem(new goog.ui.MenuItem('Rubicene','c1ccc2c(c1)c1cccc3c4c5ccccc5c5cccc(c2c13)c45'));
    select1.addItem(new goog.ui.MenuItem('Spirolucidine','[H][C@@]12C[C@@H](C)C[C@@H]3N(C)C[C@@H](C[C@]13[H])[C@]1(C2)N[C@H](CCC1=O)C[C@@]1([H])C[C@H](C)C[C@]2([H])N(CCC[C@]12[H])C(C)=O'));
    select1.addItem(new goog.ui.MenuItem('EGCG','Oc1cc(O)c2C[C@@H](OC(=O)c3cc(O)c(O)c(O)c3)[C@H](Oc2c1)c1cc(O)c(O)c(O)c1'));
    select1.addItem(new goog.ui.MenuItem('7,10-bis(4-bromophenyl)-8,9-bis(4-octylphenyl)fluoranthene','CCCCCCCCc1ccc(cc1)-c1c(-c2ccc(CCCCCCCC)cc2)c(-c2ccc(Br)cc2)c2-c3cccc4cccc(-c2c1-c1ccc(Br)cc1)c34'));
    select1.addItem(new goog.ui.MenuItem('Agathisflavone','Oc1ccc(cc1)-c1cc(=O)c2c(O)c(c(O)cc2o1)-c1c(O)cc(O)c2c1oc(cc2=O)-c1ccc(O)cc1'));
    select1.addItem(new goog.ui.MenuItem('Thalicarpine','[H][C@@]1(Cc2cc(OC)c(OC)cc2Oc2cc3C[C@]4([H])N(C)CCc5cc(OC)c(OC)c(-c3cc2OC)c45)N(C)CCc2cc(OC)c(OC)cc12'));
    select1.addItem(new goog.ui.MenuItem('Other','O5CCN(CC=3C=1C=CC=CC=1C(=C2C=CC=CC2=3)CN4CCOCC4)CC5'));
    select1.setSelectedIndex(0);
    select1.render(goog.dom.getElement('selectMolecule'));

    
        goog.events.listen(select1, goog.ui.Component.EventType.ACTION,
        function(e) {
          var timer = goog.now();
          var select = e.target;
          var smiles = select.getValue();
          var mol=kemia.io.smiles.parse(smiles);
          var mol2=kemia.layout.CoordinateGenerator.generate(mol);
          mol_renderer.setModels([mol2]);
          goog.dom.setTextContent(goog.dom.getElement('perf'), (goog.now() - timer) + 'ms');
        });
        
        }
    

</script>
</head>

<body onload="draw()">

<h1>SMILES Rendering</h1>
<fieldset>
<legend>Demo:</legend> 
<br>
<label id="selectMolecule">Select a chemical to render the SMILES for: </label>
<br>

<br>
<div id="container" style="width: 600px; height: 600px"></div>
<br>
</fieldset>
<br> 
  <div id="perf"></div> 


<div id="container" style="width: 4000px; height: 1800px">

</body>
</html>
