<!DOCTYPE html>
<!--
    TODO: License, copyrights
-->

<html>
	<head>
	<title>Unit test for kemia.layout.RingPlacer</title>
	<script src="../../third-party/closure/closure/goog/base.js"></script>
	<script src="../deps.js"></script>
	<script src="ring_placer_test.js"></script>
<script src = "../ring/alpha-pinene.js"></script>
<script src = "../ring/azulene.js"></script>
<script src = "../ring/biphenyl.js"></script>
<script src = "../ring/spiro_decane.js"></script>
<script src = "../json/json_templates.js"></script>
	</head>

</html>
